<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Python</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <style>
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        div a {
            margin: 0 auto;
        }

        #btn-box {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
        }

        #btn-box a {
            
            display: inline-block;
        }
    </style>
<body>
   <div >
        <h1 >Learn Computer Science</h1>
        <img src="/static/icons8-code.png"/>
        <p>Congratulations, You chose to learn Computer Science first!</p>
   </div>
   <div id="btn-box">
        <a class="btn btn-danger" href="./left_page">Go Left</a>
        <a class="btn btn-danger" href="./right_page">Go Right</a>
   </div>
   <script>
       link = document.getElementById('click');
       
   </script>

</body>


</html>

